/*
.subsection {
    padding: 10px;
    background-color: #fff;
}

.form-control {
    margin: 8px;
}

.form-control select {
    width: 100px;
}

.form-subcontrol {
    display: flex;
}

.form-subcontrol * {
    padding: 5px;
}

.form-subcontrol input {
    height: 20px;
    margin-top: 12px;
}

.btn-submit {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #69ea5a;
    border: none;
    border-radius: 5px;
}
*/